<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartttcourse.mapper.CmCourseMapper">
    <update id="updateOneCourse">
        update cm_course
        <!-- 使用set标签，代替update语句中的set关键字 -->
        <set>
            <if test="courseChineseName != null">
                courseChineseName=#{courseChineseName},
            </if>
            <if test="courseEnglishName != null">
                courseEnglishName =#{courseEnglishName},
            </if>
            <if test="courseCode != null">
                courseCode=#{courseCode},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteCourseByID">
        delete from cm_course where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getTermIdByCourseId" parameterType="string" resultType="string">
        SELECT schooltermId FROM cm_course WHERE id = #{courseId}
    </select>
</mapper>