<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartttcourse.mapper.CmTermMapper">
    <update id="updateTermByID">
        update cm_term
        <!-- 使用set标签，代替update语句中的set关键字 -->
        <set>
            <if test="termname != null">
                termname=#{termname},
            </if>
            <if test="begindate != null">
                begindate=#{begindate},
            </if>
            <if test="enddate != null">
                enddate=#{enddate},
            </if>
            <if test="remark != null">
                remark=#{remark},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteTermsByIDs">
        delete from cm_term where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteObsTermByIDs">
        delete from sm_obs where termid in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>