<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartttadmin.mapper.StUsersMapper">
    <update id="updateUserByID">
        update st_users
        <!-- 使用set标签，代替update语句中的set关键字 -->
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="loginname != null">
                loginname=#{loginname},
            </if>
            <if test="pwd != null">
                pwd=#{pwd},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="remark != null">
                remark=#{remark},
            </if>
            <if test="createtime != null">
                createtime=#{createtime}
            </if>
            createtime = createtime <!-- 不改变数据，确保 SET 子句不为空 -->
        </set>
        where id =#{id}
    </update>
    <update id="updateStudentByID">
        update sm_student
        <set>
            <if test="obsid != null">
                obsid = #{obsid},
            </if>
            <if test="personnelno != null">
                stuno = #{personnelno},
            </if>
            <if test="remark != null">
                historyobs= #{remark},
            </if>
            <if test="createtime != null">
                createtime=#{createtime}
            </if>
            createtime = createtime <!-- 不改变数据，确保 SET 子句不为空 -->
        </set>
        where usersid = #{id}
    </update>

    <update id="updateTeacherByID">
        update sm_teacher
        <set>
            <if test="obsid != null">
                obsid = #{obsid},
            </if>
            <if test="personnelno != null">
                jobno = #{personnelno},
            </if>
            <if test="remark != null">
                historyobs = #{remark},
            </if>
            <if test="createtime != null">
                createtime=#{createtime}
            </if>
            createtime = createtime <!-- 不改变数据，确保 SET 子句不为空 -->
        </set>
        where usersid = #{id}
    </update>

    <delete id="deleteUsersByIDs">
        delete from st_users where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="saveBach" parameterType="list">
        INSERT INTO st_users(id,username,loginname,pwd,phone,status,catelog,remark)
        VALUES
        <foreach collection="personnelRosterList" item="p" separator=",">
            (#{p.id},#{p.username},#{p.loginname},#{p.pwd},
            #{p.phone},#{p.status},#{p.catelog},#{p.remark})
        </foreach>
    </insert>
</mapper>