<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartttexam.mapper.TmTestquelibKwaMapper">

    <!-- 批量插入题目-KWA关联 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO tm_testquelib_kwa (id, libId, kwaId, dataValue, kwaName)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.libId}, #{item.kwaId}, #{item.dataValue}, #{item.kwaName})
        </foreach>
    </insert>

</mapper>
